@model ReadNewsViewModel

@Html.ActionLink("Games", "ReadNews", "Main", new { category = "Games" })
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("IT-News", "ReadNews", "Main", new { category = "IT-News" })

<table border="1">
    @foreach (var news in Model.News)
    {
        <tr>
            <td colspan="2" bgcolor="green">
                @news.Title
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @news.Body
            </td>
        </tr>
        <tr>
            <td>
                @news.Category.Name
            </td>
            <td>
                @news.Date
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                ===================================================
            </td>
        </tr>
    }
</table>